[Desktop Entry]
Encoding=UTF-8
Name=Link to Chapter 8 Docker Overview & Installation | The Shiny AWS Book
Type=Link
URL=https://business-science.github.io/shiny-production-with-aws-book/docker-overview-installation.html
Icon=text-html
