[Desktop Entry]
Encoding=UTF-8
Name=Link to Developing inside a container on a remote Docker host - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/61368669/developing-inside-a-container-on-a-remote-docker-host
Icon=text-html
