[Desktop Entry]
Encoding=UTF-8
Name=Link to Dockerized Python Development Environment - Setup Tutorial - Google Docs
Type=Link
URL=https://docs.google.com/document/d/1snX1xIfyVCWbZjyijYmkcedPzLjje0vkgXvegz3tGec/edit
Icon=text-html
