[Desktop Entry]
Encoding=UTF-8
Name=Link to docker - Open Containers in Remote SSH Hosts using VSCode - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/59707383/open-containers-in-remote-ssh-hosts-using-vscode
Icon=text-html
