[Desktop Entry]
Encoding=UTF-8
Name=Link to docker - VS Code "Attach Visual Studio Code" to remote container error - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/62817999/vs-code-attach-visual-studio-code-to-remote-container-error
Icon=text-html
