[Desktop Entry]
Encoding=UTF-8
Name=Link to medoidai/project-docker-files: This repository contains docker files from our projects.
Type=Link
URL=https://github.com/medoidai/project-docker-files
Icon=text-html
