[Desktop Entry]
Encoding=UTF-8
Name=Link to medoidai/dockerized-environments-deploy-tool: Infrastructure for building and managing dockerized environments using an easy to use deploy tool.
Type=Link
URL=https://github.com/medoidai/dockerized-environments-deploy-tool
Icon=text-html
