[Desktop Entry]
Encoding=UTF-8
Name=Link to R Docker tutorial by ropenscilabs
Type=Link
URL=https://ropenscilabs.github.io/r-docker-tutorial/
Icon=text-html
