[Desktop Entry]
Encoding=UTF-8
Name=Link to talks/data-science-workflows-using-docker-containers at master · alysivji/talks
Type=Link
URL=https://github.com/alysivji/talks/tree/master/data-science-workflows-using-docker-containers
Icon=text-html
