[Desktop Entry]
Encoding=UTF-8
Name=Link to visual studio code - Dependencies to connect to a remote docker container in VSCode? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/59231497/dependencies-to-connect-to-a-remote-docker-container-in-vscode
Icon=text-html
