[Desktop Entry]
Encoding=UTF-8
Name=Link to wsargent/docker-cheat-sheet: Docker Cheat Sheet
Type=Link
URL=https://github.com/wsargent/docker-cheat-sheet#lifecycle-1
Icon=text-html
