[Desktop Entry]
Encoding=UTF-8
Name=Link to Using renv with Docker • renv
Type=Link
URL=https://rstudio.github.io/renv/articles/docker.html
Icon=text-html
