[Desktop Entry]
Encoding=UTF-8
Name=Link to Using the RStudio image · rocker-org/rocker Wiki
Type=Link
URL=https://github.com/rocker-org/rocker/wiki/Using-the-RStudio-image
Icon=text-html
